# WordPress Core
wp-admin/
wp-includes/
license.txt
readme.html
/wp-*.php
!wp-config.php
!wp-content/

# Configurations & Environment
.env
!.htaccess
*.log
docker-compose.override.yml
*.sql
*.zip
*.tar.gz
*.tar

# OS files
.DS_Store
Thumbs.db

# wp-content contents
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/blogs.dir/
wp-content/languages/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Plugins
wp-content/plugins/*
!wp-content/plugins/news-app-core/

# Themes
wp-content/themes/*
!wp-content/themes/news-app-theme/

# Development
node_modules/
vendor/
npm-debug.log
.gemini/
